<template>
	<div class="app">
		<Nav></Nav>
		<router-view></router-view>
	</div>
</template>

<script>
	import Nav from '../components/Nav.vue';
	import '../../styles/App.scss';

	export default {
		data() {
			return {
				editing: false,
				header: 'Store Information'
			};
		},
		computed: {},
		props: {},
		methods: {},
		components: { Nav }
	};
</script>
