<template>
	<div class="app">
		<h1>Home</h1>
		<button type="button" class="btn btn-primary">Primary</button>
	</div>
</template>

<script>
	import '../../styles/App.scss';

	export default {
		data() {
			return {
				editing: false,
				header: 'Store Information'
			};
		},
		computed: {},
		props: {},
		methods: {},
		components: {}
	};
</script>
