<template>
	<div class="nav">
		<h1>I'm a Nav</h1>
	</div>
</template>

<script>
	// import '../../styles/nav.scss';

	export default {
		data() {
			return {};
		},
		computed: {},
		props: {},
		methods: {},
		components: {}
	};
</script>
